<footer class="container">
  <div class="element">
    <p>Copyright &copy; {new Date()} Sanmina SCI </p>
  </div>
</footer>

<style>
.container {
    display: flex;
    justify-content: center;
}
</style>
